.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: auto;
}
.centered-image {
    display: block;
    margin: 0 auto;
}

.product {
    display: inline-block; /* Поместите продукты в ряд */
    margin: 10px; /* Добавьте немного отступа между продуктами */
    padding: 10px; /* Добавьте отступ внутри продуктов */
    border: 1px solid #ccc; /* Добавьте обводку к фону продуктов */
    border-radius: 10px; /* Округлите углы */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    position: relative;
    opacity: 100;
    transition: opacity 0.6s ease-in-out;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close-btn:hover {
    color: #aaa;
}

button {
    margin-top: 10px;
}
