     .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      background-color: #f2f2f2;
    }
    
    .logo {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }
    
    .icon {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
     body {
      margin: 0;
      padding: 0;
    }
    .product-container {
      display: flex;
    }
    .product {
      width: 200px;
      height: 300px;
      border: 2px solid black;
      border-radius: 10px;
      padding: 10px;
      margin-right: 10px;
    }
    
    .product img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin-bottom: 10px;
    }
